<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphine.team4.carlife">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- SD卡写入:https://blog.csdn.net/haoxuhong/article/details/79864113 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Carlife"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.setting.SettingActivity"></activity>
        <activity android:name=".ui.notifications.usermodel.EditArticleActivity" />
        <activity android:name=".ui.notifications.usermodel.ArticleDetailActivity" />
        <activity android:name=".ui.notifications.usermodel.ArticleActivity" />
        <activity android:name=".ui.notifications.usermodel.UserFavoriteActivity" />
        <activity android:name=".ui.notifications.usermodel.UserDetailActivity" />
        <activity android:name=".ui.notifications.usermodel.RegisterActivity" />
        <activity android:name=".ui.notifications.usermodel.LoginActivity" />
        <activity android:name=".ui.notifications.WebActivity" />
        <activity android:name=".ui.notifications.MainActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>